<!DOCTYPE html>
<html>
  <head>
    <title> Thermostat </title>

  </head>
  <body>
    <script src='jquery.js'></script>
    <section>
      <p id="temperature"></p>
      <p id="usage"></p>
      <button id="up" type ="button">Turn temp up</button>
      <button id="down" type ="button">Turn temp down</button>
      <button id="reset" type ="button">Reset temp</button>
      <button id="PSMon" type ="button">PSM on</button>
      <button id="PSMoff" type ="button">PSM off</button>
  </section>
    <script src="../src/Thermostat.js" type="text/javascript"></script>
    <script>
      $(document).ready(function(){
        var thermostat = new Thermostat();
        $('#temperature').text(thermostat.temperature);
        $('#usage').text(thermostat.usage);
        $('#up').on('click', function() {
          thermostat.up();
          $('#temperature').text(thermostat.temperature);
        })
        $('#down').on('click', function() {
          thermostat.down();
          $('#temperature').text(thermostat.temperature);
        })
        $('#reset').on('click', function() {
          thermostat.reset();
          $('#temperature').text(thermostat.temperature);
        })
        $('#PSMon').on('click', function() {
          thermostat.turnPowerSavingOn();
        })
        $('#PSMoff').on('click', function() {
          thermostat.turnPowerSavingOff();
        })
      });
    </script>
  </body>
</html>
