<!DOCTYPE html>
<html>
  <head>
    <script src="../src/Thermostat.js" type="text/javascript"></script>
    <!-- <script>
      var temperature = 20;
      document.write(temperature);
    </script>
    <script>
      var usage = "medium-usage";
      document.write(usage);
    </script>
    <script type ="text/javascript">
      function Up() {
        this.temperature = this.temperature + 1
      }
    </script>
    <script type ="text/javascript">
      function Down() {
        this.temperature = this.temperature - 1
      }
    </script>
    <script type ="text/javascript">
      function Reset() {
        this.temperature = 20
      }
    </script>
    <script type ="text/javascript">
      function turnPowerSavingOn() {
        this.powerSavingMode = true;
      }
    </script>
    <script type ="text/javascript">
      function turnPowerSavingOff() {
        this.powerSavingMode = false;
      }
    </script> -->
  </head>
  <body>
    <button class="button" type ="button" onclick="Up()">Turn temp up</button>
    <button class="button" type ="button" onclick="Down()">Turn temp down</button>
    <button class="button" type ="button" onclick="Reset()">Reset temp</button>
    <button class="button" type ="button" onclick="turnPowerSavingOn()">PSM on</button>
    <button class="button" type ="button" onclick="turnPowerSavingOff()">PSM off</button>
  </body>
</html>
