<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-fluid">
<head>
  <h1> Thermostat </h1>
</head>
<body>
  <script src='jquery.js'></script>
  <section>
    <p id="temperature" class="temp"></p>
    <p id="usage"></p>
    <p id="powerSavingModeStatus"></p>
    <button id="up" type ="button">Turn temp up</button>
    <button id="down" type ="button">Turn temp down</button>
    <button id="reset" type ="button">Reset temp</button>
    <button id="power_saving_mode" type ="button">Power Saving Mode</button>
  </section>
  <script src="../src/Thermostat.js" type="text/javascript"></script>
  <script>
  $(document).ready(function(){
    var thermostat = new Thermostat();
    $('#temperature').text(thermostat.temperature);
    $('#usage').text(thermostat.usage);
    $('#powerSavingModeStatus').text(thermostat.powerSavingModeStatus);
    $('#up').on('click', function() {
      thermostat.up(); thermostat.checkUsage();
      $('#temperature').text(thermostat.temperature);
      $('#usage').text(thermostat.usage);
    })
    $('#down').on('click', function() {
      thermostat.down(); thermostat.checkUsage();
      $('#temperature').text(thermostat.temperature);
      $('#usage').text(thermostat.usage);
    })
    $('#reset').on('click', function() {
      thermostat.reset();
      $('#temperature').text(thermostat.temperature);
    })
    $('#power_saving_mode').on('click', function() {
      thermostat.switchPowerSavingMode();
      $('#powerSavingModeStatus').text(thermostat.powerSavingModeStatus);
    })
  });
  </script>
  <section>
    <h2>Current temperature: <span id="current-temperature"></span></h2>
    <section>
      <select id="current-city">
        <option value="blank">Choose city</option>
        <option value="london">London</option>
        <option value="newyork">New York</option>
        <option value="paris">Paris</option>
        <option value="tokyo">Tokyo</option>
      </select>
    </section>
    <script>
    $('#current-city').change(function() {
      var city = $('#current-city').val();
      $.get('http://api.openweathermap.org/data/2.5/weather?q=' + city + '&appid=a3d9eb01d4de82b9b8d0849ef604dbed&units=metric', function(data) {
        $('#current-temperature').text(data.main.temp)
      })
    })
    </script>
  </section>
</body>
</div>
<style>
h1 {
  font-size: 70px;
  color: green;
}
h2 {
  font-size: 50px;
  color: orange;
}
p[id="temperature"] {
  font-size: 120px;
}
p[id="usage"] {
  font-size: 50px;
  color: red;
}
p[id="powerSavingModeStatus"] {
  font-size: 50px;
  color: blue;
}
</style>
</html>
